button {
    /* Сброс системного дизайна (особенно важно для iOS Safari) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Наследование шрифтов (кнопки по умолчанию их не наследуют) */
    font-family: inherit;
    font-size: inherit;
    line-height: 1.15;
    color: inherit;

    /* Сброс стандартных рамок и фона */
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;

    /* Управление размером */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;

    /* Текстовые свойства */
    text-transform: none;
    /* Убирает авто-апперкейс в некоторых браузерах */
    text-align: center;
}

/* Убирает пунктирную линию вокруг текста в Firefox при фокусе */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Убирает стандартный синий контур в Chrome, но важно заменить его на свой для доступности */
button:focus {
    outline: none;
}

/* Состояние Disabled */
button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
    /* Гарантирует отсутствие кликов */
}

/* кастомные стили для button */
button {
    outline: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 100px;
    text-wrap: nowrap;
    padding: 0 20px !important;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    font-size: clamp(var(--font-size-sm), 0.826rem + 0.2vw, var(--font-size-base));
    border-radius: 100px;
    transition: all .3s ease;
}

.button-icon {
    transition: all .3s ease;
}

/* стили для button disabled */
button.disabled {
    background-color: var(--color-structure-100);
    border: none;
    color: var(--color-text-secondary);
}

/* состояние при наведении */
button:hover {
    background-color: var(--accent-hover-color);
}

button:hover .button-icon {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    button {
        width: 100%;
    }
}