/* Базовый сброс и нормализация */
input {
    /* Убирает системную обводку iOS (Safari) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Наследует шрифт от родителя (по умолчанию у input свой шрифт) */
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    /* Убирает внутренние отступы и границы браузера */
    margin: 0;
    border: none;
    outline: none;
    background: transparent;

    /* Чтобы ширина считалась с учетом border и padding */
    box-sizing: border-box;
    width: 100%;
}
/* Удаление иконки "очистить поле" в Edge и Chrome */
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}
/* Удаление стрелок (spinner) у input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Автозаполнение (выбор стиля, когда браузер подставляет данные) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    /* Перезаписывает цвет текста при автозаполнении */
    -webkit-text-fill-color: #000000 !important; 
    /* Убирает стандартный желтый фон */
    transition: background-color 5000s ease-in-out 0s;
}



/* Кастомные стили для input */
.custom-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.custom-input-wrapper label {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-secondary);
    padding-left: 10px;
    transition: all .3s ease;
}
.custom-input-container {
    display: flex;
    position: relative;
}
.custom-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: var(--color-text-tertiary);
    transition: all .3s ease;
}
.custom-input-password-visibility {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: var(--color-text-tertiary);
    transition: all .3s ease;
}
.custom-input-container input {
    padding: 10px;
    min-height: 45px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid var(--color-structure-100);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary) !important;
    transition: all .3s ease;
}
.custom-input-container input::placeholder {
    color: var(--color-text-tertiary);
    transition: all .3s ease;
    opacity: 1;
}



/* Стили при фокусе и валидации input */
.custom-input-container input:focus,
.custom-input-container input:valid {
    opacity: 1;
    color: var(--color-accent-primary);
    border: 1px solid var(--color-accent-primary-active);
}
.custom-input-container input:focus ~ .custom-input-icon,
.custom-input-container input:valid ~ .custom-input-icon {
    transform: translateY(-50%) scale(1.1); 
    color: var(--color-accent-primary);
}
.custom-input-container input:focus ~ .custom-input-password-visibility,
.custom-input-container input:valid ~ .custom-input-password-visibility,
.custom-input-container input:focus::placeholder {
    color: var(--color-accent-primary);
}



/* Стили если был задет input но в него не чего не ввели и он важен для заполнения */
.custom-input-label-dirty {
    color: var(--color-accent-danger) !important;
}