.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.pagination .current-page,
.pagination .page {
    background-color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 5px;
}
.pagination .current-page {
    font-weight: 600;
    cursor: auto;
    user-select: none;
    background-color: var(--accent-color-500);
    color: var(--primary-color);
}
.pagination .page {
    cursor: pointer;
}