.custom-progress-bar-container {
    width: 100%;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.custom-progress-bar-fill {
    height: 100%;
    background-color: var(--color-accent-tertiary);
    border-radius: 50px;
    transition: width .4s ease-out;
}