input[type="radio"] {
    /* Полностью скрываем стандартный инпут, но оставляем доступность */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
fieldset {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
legend {
    margin: 0 0 5px 10px;
    font-size: var(--font-size-base);
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-semibold);
}



/* Кастомные стили для radio */
.custom-radio-wrapper {
    display: flex;
    align-items: center;
}
.custom-radio-label {
    display: flex;
    align-items: center;
    justify-content: centerc;
    cursor: pointer;
    font-family: inherit;
    gap: 10px;
}
.custom-radio-text {
    font-size: var(--font-size-base) !important;
    color: var(--color-text-primary) !important;
    font-weight: var(--font-weight-semibold) !important;
}
.custom-radio-visual-box {
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-structure-200);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    background-color: transparent;
    flex-shrink: 0;
}
.custom-radio-visual-box::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--color-accent-primary);
    border-radius: 50px;
    transform: scale(0);
    transition: all .3s ease;
}
.custom-radio-text {
    font-size: var(--fs-base);
    font-weight: 400;
}



/* Состояние при checked */
.custom-radio:checked + .custom-radio-label .custom-radio-visual-box {
    border: 2px solid var(--color-accent-primary);
}
.custom-radio:checked + .custom-radio-label .custom-radio-visual-box::after {
    transform: scale(1);
}
.custom-radio:focus-visible + .custom-radio-label .custom-radio-visual-box {
    outline: 2px solid var(--color-accent-primary);
    outline-offset: 2px;
}



/* Состояние при disabled */
.custom-radio:disabled + .custom-radio-label {
    cursor: not-allowed;
    opacity: 0.6;
}
.custom-radio:disabled + .custom-radio-label .custom-radio-visual-box {
    color: var(--color-text-secondary);
    background: var(--color-bg-secondary);
}



/* Состояние ошибки для контейнера и текста */
.custom-radio-label-dirty {
    color: var(--color-accent-danger) !important;
}