.test-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.test-item-content {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    /* Добавлена поддержка префиксов для transition */
    -webkit-transition: -webkit-box-shadow .8s cubic-bezier(.25, 1, .25, 1);
    transition: box-shadow .8s cubic-bezier(.25, 1, .25, 1);
    /* Исправлено свойство will-change (только актуальные свойства) */
    will-change: transform, box-shadow;
    /* Улучшение рендеринга в Webkit */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.test-item-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(.25, 1, .25, 1);
    transition: transform 1.2s cubic-bezier(.25, 1, .25, 1);
    z-index: -1;
}

.test-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.test-item-container>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.test-item-content:hover {
    z-index: 10;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15),
        0 -10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15),
        0 -10px 30px rgba(0, 0, 0, .1);
}

.test-item-content:hover::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.test-item-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.test-item-background .backgroundSVG {
    height: 100%;
    width: 100%;
    display: block;
}
.test-item-background .backgroundSVG path, 
.test-item-background .backgroundSVG circle, 
.test-item-background .backgroundSVG rect {
    filter: drop-shadow(10px 0px 6px rgba(0, 50, 100, 0.5));
}
