.subject-content {
    height: 100%;
    border-radius: 20px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
    padding: 40px;
}
.subjects-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
table {
    border-radius: 5px;
}
table thead tr th {
    padding: 5px;
    border: 1px solid gray;
}
table tbody tr th, td {
    padding: 5px;
    border: 1px solid gray;
}
.subjects-panel {
    
}
.select-option {
    width: 100%;
    height: 100%;
}
