
a {
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: var(--accent-hover-color);
    text-decoration: underline;
}
.filter-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 15px;
    background-color: var(--primary-color);
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1rem;
}