.results-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.tests-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 3rem;
}

.test-result-card {
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: var(--primary-color-50);
    border-radius: 15px;
    cursor: pointer;
    padding: 30px
}

.test-result-title {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .results-wrapper {
        padding: 15px;
    }
}