.test-result-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.gender-results-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.results {
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    width: 350px;
    background-color: #FFFFFF;
}
.gender-card {

}