.tests-base {
    --base-padding: 0px;
    --items-gap: 0px;
    width: 100%;
    height: 100vh;
    padding: var(--base-padding) 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.tests-scroll-wrapper {
    flex: 1 1 0%; 
    width: 100%;
    min-height: 0; 
    position: relative;
    overflow: hidden;
}
.tests-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--items-gap);
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}




.test-item-component {
    --total-gaps: calc((var(--visible-count) - 1) * var(--items-gap));
    --item-height: calc((100% - var(--total-gaps)) / var(--visible-count));
    flex: 0 0 var(--item-height);
    height: var(--item-height);
    width: 100%;
    background-color: var(--bg-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #BCBCBC;
    z-index: 1;
    transition: box-shadow .8s cubic-bezier(.25, 1, .25, 1);
    will-change: box-shadow;
}
.test-item-component::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1.2s cubic-bezier(.25, 1, .25, 1);
    will-change: transform;
    z-index: -1;
}
.test-item-order,
.test-item-button {
    width: 100px;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-size: var(--font-size-2xl);
}
.test-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
    border-left: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
}
.test-item-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.test-item-label {
    text-transform: uppercase;
    font-size: var(--font-size-2xl);
}
.test-item-author {
    font-size: var(--font-size-md);
}
.test-item-description {
    font-size: var(--font-size-md);
}











.test-item-component:hover {
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15),
                0 -10px 30px rgba(0, 0, 0, .1);
}
.test-item-component:hover::before {
    transform: scaleX(1);
}