.tests-base {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 20px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
}


.tests-header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--color-structure-100);
    border-radius: 15px;
    background: var(--color-gradient-white-to-lightpink);
}
.tests-header-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tests-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    background: var(--color-gradient-yellow-to-lightpink);
    border-radius: 15px;
    color: var(--color-text-primary);
}
.tests-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tests-header-label {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}
.tests-header-user-name {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}
.tests-header-progressbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.tests-progressbar-label {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}
.tests-progressbar-count {
    position: absolute;
    right: 0;
    top: 0;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}
.tests-progress-temp {
    width: 100%;
    height: 10px;
    background: var(--color-accent-primary);
    border-radius: 50px;
}






.tests-description-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--color-structure-100);
    border-radius: 15px;
}
.tests-description-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    min-width: 36px;
    max-width: 36px;
    max-height: 36px;
    border-radius: 10px;
    background-color: var(--color-accent-tertiary-light);
    color: var(--color-accent-tertiary);
}
.tests-description {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}



.tests-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    overflow-y: auto;
}
.tests-options > * {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}
.tests-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    min-width: 350px;
    padding: 20px;
    user-select: none;
    border: 1px solid var(--color-structure-100);
    border-radius: 15px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all .3s ease;
}
.test-item-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 52px;
    height: 52px;
    color: var(--color-text-primary);
    transition: all .3s ease;
}
.test-item-label {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}
.test-item-description {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}
.test-item-button {
    margin-top: 5px;
}
.tests-item-container:hover {
    box-shadow: var(--shadow-card);
}
.tests-item-container:hover .test-item-icon-container {
    transform: scale(1.1);
}




.test-item-icon-container[data-item="test-item-1"] {
    background: var(--color-gradient-yellow-to-skyblue);
}
.test-item-icon-container[data-item="test-item-2"] {
    background: var(--color-gradient-yellow-to-lightpink);
}
.test-item-icon-container[data-item="test-item-3"] {
    background: var(--color-gradient-yellow-to-amber);
}
.test-item-icon-container[data-item="test-item-4"] {
    background: var(--color-gradient-yellow-to-mint);
}
.test-item-icon-container[data-item="test-item-5"] {
    background: var(--color-gradient-yellow-to-lavanda);
}
.test-item-icon-container[data-item="test-item-6"] {
    background: var(--color-gradient-yellow-to-coral);
}