/* Стили для сайдбара */
.sidebar-container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    user-select: none;
    transition: all .3s ease;
    overflow: hidden;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
    box-shadow: var(--sidebar-shadow);
}
.sidebar-collapsed {
    width: 60px;
}



/* Стили для разделителя */
.sidebar-separator {
    width: 100%;
    height: 2px;
    opacity: .2;
    background: var(--color-structure-200);
}



/* Стили для сайдбар - Header, Footer */
.sidebar-header,
.sidebar-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 20px;
    margin: 10px 0;
    transition: all .3s ease;
}
.sidebar-container.right .sidebar-header,
.sidebar-container.right .sidebar-footer {
    flex-direction: row-reverse;
}
.sidebar-header-title,
.sidebar-footer-info {
    white-space: nowrap;
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease;
    transition-delay: 1s;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}
.sidebar-footer-info {
    font-weight: var(--font-weight-medium);
}
.sidebar-collapsed .sidebar-header-title,
.sidebar-collapsed .sidebar-footer-info {
    opacity: 0;
    transform: translateX(-10px);
    width: 0;
    overflow: hidden;
    transition-delay: 1s;
}
.sidebar-container.right .sidebar-collapsed .sidebar-header-title,
.sidebar-container.right .sidebar-collapsed .sidebar-footer-info {
    transform: translateX(10px);
}
.sidebar-header-control--close,
.sidebar-header-control--open,
.sidebar-footer-control--logout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
}
.sidebar-header-control--close::after,
.sidebar-header-control--open::after,
.sidebar-footer-control--logout::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border-radius: 13px;
    transition: all .3s ease
}
.sidebar-header-control-icon--close,
.sidebar-header-control-icon--open,
.sidebar-footer-control-icon--logout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all .3s ease;
    color: var(--color-text-secondary);
}



/* Стили для сайдбар - Navigation */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
    width: 100%;
}
.sidebar-nav-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.sidebar-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    min-width: 20px;
    position: relative;
    cursor: pointer;
    gap: 20px;
    margin: 10px 0;
    transition: all .3s ease;
    color: var(--color-text-secondary);
}
.sidebar-item-container::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 13px;
    opacity: 0;
    transition: all .3s ease;
}
.sidebar-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all .3s ease;
    color: var(--color-text-secondary);
}
.sidebar-item-label {
    white-space: nowrap;
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease;
    transition-delay: .1s;
    font-size: var(--font-szie-base);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-secondary);
}
.sidebar-collapsed .sidebar-item-label {
    opacity: 0;
    transform: translateX(-10px);
    width: 0;
    overflow: hidden;
    transition-delay: 0;
}
.sidebar-container.right .sidebar-collapsed .sidebar-item-label {
    transform: translateX(10px);
}


/* Hover States */
/* Дефолтные пункты сайдбара */
.sidebar-item-container:hover::after,
.sidebar-item-active::after {
    opacity: 1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: var(--color-accent-primary-hover)
}
.sidebar-item-container:hover .sidebar-item-icon,
.sidebar-item-active .sidebar-item-icon {
    transform: scale(1.2);
    color: var(--color-accent-primary);
}
.sidebar-item-container:hover .sidebar-item-label,
.sidebar-item-active .sidebar-item-label {
    color: var(--color-accent-primary);
}

/* Стили для других ролей сайдбара */
.sidebar-item-container[data-item="role-based-item"]:hover::after,
.sidebar-item-active[data-item="role-based-item"]::after {
    background-color: var(--color-accent-danger-hover);
}
.sidebar-item-container[data-item="role-based-item"]:hover .sidebar-item-icon,
.sidebar-item-active[data-item="role-based-item"] .sidebar-item-icon,
.sidebar-item-container[data-item="role-based-item"]:hover .sidebar-item-label,
.sidebar-item-active[data-item="role-based-item"] .sidebar-item-label {
    color: var(--color-accent-danger);
}

/* Дефолтные опции сайдбара (открыть, закрыть) */
.sidebar-header-control--close:hover::after,
.sidebar-header-control--open:hover::after,
.sidebar-footer-control--logout:hover::after {
    opacity: 1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: var(--color-accent-primary-hover);
}
.sidebar-header-control--close:hover .sidebar-header-control-icon--close,
.sidebar-header-control--open:hover .sidebar-header-control-icon--open,
.sidebar-footer-control--logout:hover .sidebar-footer-control-icon--logout {
    transform: scale(1.2);
    color: var(--color-accent-primary);
}

/*  Опции сайдбара (выйти) */
.sidebar-footer-control--logout[data-item="sidebar-logout"]:hover::after {
    background-color: var(--color-accent-danger-hover);
}
.sidebar-footer-control--logout[data-item="sidebar-logout"]:hover .sidebar-footer-control-icon--logout {
    transform: scale(1.2);
    color: var(--color-accent-danger);
}