/* стили для навигационного меню */
.menu-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    height: 60px;
    max-height: 60px;
    gap: 10px;
    user-select: none;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 5px;
    border-radius: 100px;
    background-color: var(--primary-color);
}

/* стили для кнопок навигационного меню*/
.menu-nav-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-height: 50px;
    padding: 0 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all .3s ease;
}

.menu-nav-item-icon,
.menu-nav-item-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    text-wrap: nowrap;
    color: var(--text-primary-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    transition: all .3s ease;
}

.menu-nav-item-role-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-nav-item-arrow {
    transform: rotate(180deg);
    transition: all .3s ease;
}

.menu-nav-item-arrow.menu-nav-item-arrow-rotated {
    transform: rotate(0deg);
}

.menu-nav-item-role-content {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 100%;
    margin-bottom: 10px;
    border-radius: 100px;
    left: 100%;
    transform: translateX(-100%);
    padding: 5px 5px;
    background-color: var(--primary-color);
}

.menu-nav-item-container:hover,

.menu-nav-item-container.menu-nav-item-active,

.menu-nav-item-container.menu-nav-item-group-active {
    background-color: var(--accent-hover-color);

}

.menu-nav-item-container:hover>.menu-nav-item-icon,
.menu-nav-item-container:hover>.menu-nav-item-label,

.menu-nav-item-container:hover>.menu-nav-item-role-container .menu-nav-item-icon,
.menu-nav-item-container:hover>.menu-nav-item-role-container .menu-nav-item-label,

.menu-nav-item-container.menu-nav-item-active>.menu-nav-item-icon,
.menu-nav-item-container.menu-nav-item-active>.menu-nav-item-label {
    color: var(--primary-color);
}