.layout-base {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--color-bg-primary);
    overflow: hidden;
    padding: 10px;
}
.layout-content {
    flex: 1;
    overflow-x: auto;
    transition: all .3s ease;
    height: calc(100vh - 20px);
}
.layout-sidebar {
    width: auto;
}