.layout-base {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.layout-sidebar {
    flex-shrink: 0;
    max-width: 75px;
}
.layout-content {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 20px);
    margin: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: 10px;
}
