.layout-base {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.layout-menu {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    bottom: 0;
}