.profile-wrapper {
    display: flex;
    height: 100%;
    position: relative;

    border-radius: 20px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
}