.layout-wrapper {
    box-sizing: border-box;
    position: relative;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--primary-color-50);
}

.background {
    flex: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    overflow: hidden;
    background-color: #eeeeee;
    border-radius: 15px;
}

.header {
    max-width: 1440px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 20px;
    align-items: end;
    justify-content: start;
    color: var(--text-primary-color);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    font-size: clamp(var(--font-size-lg), 0.804rem + 1.61vw, var(--font-size-xl));
    z-index: 2;
}

.outlet {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    padding: 110px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media (max-width: 1480px) {
    .header {
        left: 20px;
    }
}

@media (max-width: 992px) {
    .background {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }

    .outlet {
        padding: 80px 0;
        margin: 0 10px;
    }

    .header {
        max-height: 40px;
        left: 10px;
    }
}

@media (max-width: 624px) {
    .outlet {
        padding-bottom: 70px;
    }
}

@media (max-width: 480px) {
    .header {
        top: 10px;
    }

    .outlet {
        padding-top: 60px;
        margin: 0 10px;
    }
}