
.simulations-page {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 90%;
    gap: 15px;
}
.simulations-content {
    flex: 1;
}
.filter-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-bar > * {
    flex: 1 1 0;
    min-width: 0;
}
input, select {
    flex: 1;
}
select {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.simulation-card {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.simulations-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.simulations-footer {
    
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: gray;
}
