/* Controls */
.test-engine-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .test-engine-controls {
    flex-direction: row;
  }
}

.test-engine-controls-main {
  display: flex;
  gap: 1rem;
  flex: 1;
}

@media (min-width: 768px) {
  .test-engine-controls-main {
    flex: 1;
  }
}

.test-engine-control-button {
  flex: 1;
  height: 3rem;
}

.test-engine-control-button-next {
  background-color: #4f46e5;
  color: white;
}

.test-engine-control-button-next:hover {
  background-color: #4338ca;
}

.test-engine-control-button-complete {
  background-color: #16a34a;
  color: white;
}

.test-engine-control-button-complete:hover {
  background-color: #15803d;
}

.test-engine-control-button-early {
  height: 3rem;
  border-color: #fecaca;
  color: #dc2626;
}

.test-engine-control-button-early:hover {
  background-color: #fef2f2;
  color: #b91c1c;
}