.tests-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 550px;
}
.test-result-card {
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 5px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px
}