.single-options-card {
    display: flex;
    flex-direction: column;
    width: 1200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 25px;
    padding: 15px 20px 85px 20px;
}
.task {
    display: flex;
    flex-direction: column;
}
.task img {
    width: 150px;
    height: 100px;
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.option {
    user-select: none;
}
.option:focus {
    cursor: pointer;
}
.picked {
    font-weight: 700;
    color: lightblue;
}
.buttons-options {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

