.tests-base,
.form-selection {
    --base-padding: 0px;
    width: 100%;
    height: 100vh;
    padding: var(--base-padding) 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.form-items-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.test-item-component,
.form-item-component {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #BCBCBC;
    z-index: 1;
    transition: box-shadow .8s cubic-bezier(.25, 1, .25, 1);
    will-change: box-shadow;
}
.test-item-component::before,
.form-item-component::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1.2s cubic-bezier(.25, 1, .25, 1);
    will-change: transform;
    z-index: -1;
}
.test-item-order,
.form-item-order,
.test-item-button,
.form-item-button {
    width: 100px;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-size: var(--font-size-2xl);
}
.test-item-content,
.form-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
    border-left: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
}
.test-item-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.test-item-label,
.form-item-label {
    text-transform: uppercase;
    font-size: var(--font-size-2xl);
}
.test-item-author {
    font-size: var(--font-size-md);
}
.test-item-description {
    font-size: var(--font-size-md);
}











.test-item-component:hover,
.form-item-component:hover {
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15),
                0 -10px 30px rgba(0, 0, 0, .1);
}
.test-item-component:hover::before,
.form-item-component:hover::before {
    transform: scaleX(1);
}