.constant-sum-slider-card{
    width: 1440px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 40px;
    box-shadow: 0 10px 20px rgba(90, 90, 90, 0.2);
    border-radius: 15px;
}
.constant-sum-slider-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 40px;
}
.constant-sum-slider-input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.input-slider {
    background-color: lightgray;
    border-radius: 50px;
}