.constant-sum-slider-card{
    width: 1440px;
    max-width: 1440px;
}
.constant-sum-slider-item {
    
}
.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.input-slider {
    background-color: lightgray;
    border-radius: 5px;
}