.test-form-selector-wrapper {
    width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.test-form-item-wrapper {
    flex: 1;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    overflow: hidden;
    isolation: isolate;
    border-radius: 20px;
    padding: 40px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 500ms ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.test-form-item-wrapper:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}
.test-form-item-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}