/* обертка для всех элментов отображаемых в test viewer outlet */
.test-viewer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}



/* стили для выбора формы теста */
.test-form-selection-grid {
    display: grid;
    width: 100%;
    height: 230px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}



/* стили для таймера для тестов (пока только инж. мышление) */
.test-timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    width: 100%;
}

.float-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    width: 100px;
    height: 40px;
    border-radius: 15px;
}