.test-selector-wrapper {
    --visible-items-count: 3;
    --items-gap: 10px;
    --padding: 10px;

    width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    position: relative;

    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--items-gap);
}
.test-selector-wrapper::-webkit-scrollbar {
    display: none;
}



.test-item-wrapper {
    --item-height: calc((100dvh - (var(--padding) * 2) - (var(--items-gap) * (var(--visible-items-count) - 1))) / var(--visible-items-count));

    flex: 0 0 var(--item-height);
    width: 100%;
    position: relative;
    box-sizing: border-box;

    margin: 0;
    overflow: hidden;
    isolation: isolate;
    border-radius: 20px;
    padding: 40px;

    will-change: transform, opacity;
    backface-visibility: hidden;

    opacity: 0;
    transform: translateY(5px);
    transition: opacity 500ms ease, transform 500ms ease, box-shadow 500ms ease;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.test-item-wrapper:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}
.test-item-wrapper.show {
    opacity: 1;
    transform: translateY(0);
}
.test-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
}
.test-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.test-item-container h1 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary-color);
}
.test-item-container span {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: var(--text-secondary-color);
}
.test-item-background {
    z-index: -1;
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.background-svg-host {
    transform: scale(1.01);
    display: block;
    object-fit: cover;
    height: 100%;
    object-position: right center;
    pointer-events: none;
    will-change: transform;
}



.test-nav-dots {
    position: fixed;
    right: 30px;
    width: 60px;
    padding: 20px;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.nav-dots-wrapper {
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.dot.active {
    background-color: red;
}
.nav-dots-wrapper:hover .dot {
    background-color: red;
}