/* стили для карточки теста и выбора формы */
.test-selection-item,
.test-form-selection-grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.test-selection-item::after,
.test-form-selection-grid-item::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 27px;
    z-index: 2;
}

.test-selection-item-icon {
    position: absolute;
    right: 30px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    color: var(--text-primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.test-selection-item-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
}

.test-selection-item-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.test-selection-item-order {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3px);
    max-width: 15px;
    direction: rtl;
    gap: 3px;
    flex-shrink: 0;
    justify-content: start;
}

.order-dot {
    width: 3px;
    min-width: 3px;
    height: 3px;
    min-height: 3px;
    border-radius: 100px;
    background-color: var(--text-primary-color);
}

.test-selection-item-name h4 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 300px;
    color: var(--text-primary-color);
}

.test-selection-item-name span {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    color: var(--text-secondary-color);
}

.test-selection-item-description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -200%;
    width: 300px;
    z-index: 3;
    transition: left .5s ease;
}

.test-selection-item-info {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    z-index: 3;
}

.test-selection-item-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.test-selection-item-options span {
    color: var(--text-primary-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
}

.test-selection-item-icon.icon-2 {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}



/* доп. стили для выбора формы */
.test-form-selection-name {
    z-index: 3;
}

.test-form-selection-name h4 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
}

.test-form-selection-option {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    z-index: 3;
}

.test-form-selection-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 15px;
    z-index: 3;
}


/* круг для анимации заполенения границы при выделении */
.hover-circle {
    position: absolute;
    background-color: var(--accent-color);
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width .8s ease, height .8s ease;
    z-index: 1;
}

.test-selection-item:hover .hover-circle {
    width: 1200px;
    height: 1200px;
}

.test-form-selection-grid-item:hover .hover-circle {
    width: 1500px;
    height: 1500px;
}