/* КАРТОЧКИ ТЕСТОВ */
.test-selection-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 30px;
    padding-right: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.test-selection-item::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 27px;
    z-index: 2;
}

.test-selection-item-icon {
    position: absolute;
    right: 30px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    color: var(--text-primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.test-selection-item-icon.icon-2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    width: 40px;
    bottom: 30px;
    height: 40px;
    border-radius: 15px;
}

.test-selection-item-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
}

.test-selection-item-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test-selection-item-name h4 {
    font-size: clamp(var(--font-size-md), 1.027rem + 0.39vw, var(--font-size-lg));
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--text-primary-color);
}

.test-selection-item-label span {
    font-size: clamp(var(--font-size-sm), 0.826rem + 0.2vw, var(--font-size-base));
    font-weight: var(--font-weight-normal);
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--text-secondary-color);
}

.test-selection-item-description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -200%;
    width: 300px;
    z-index: 3;
    transition: left .5s ease;
}

.test-selection-item-info {
    display: flex;
    flex-direction: row;
    align-items: end;
    z-index: 3;
}

.test-selection-item-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 135px;
    gap: 5px;
}

.test-selection-item-options span {
    color: var(--text-primary-color);
    font-size: clamp(var(--font-size-sm), 0.826rem + 0.2vw, var(--font-size-base));
    font-weight: var(--font-weight-medium);
}



/* МЕДИА ЗАПРОСЫ */
@media (max-width: 480px) {
    .test-selection-item-info {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .test-selection-item-options {
        width: auto;
    }
}