/* СЕТКА - ПРОГРЕСС БАР, СЕТКА КАРТОЧЕК ТЕСТОВ, ИНДИКТОР ПРОКРУТКИ */
.test-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr max-content;
    gap: 10px;
    grid-template-areas:
        "completness cards"
        "indicator indicator";
}

.test-completness {
    grid-area: completness;
}

.test-grid {
    grid-area: cards;
}

.test-indicator {
    grid-area: indicator;
}

/* ПРОГРЕСС БАР ЗАВЕРШЕННЫХ ТЕСТОВ */
.progress-container {
    width: 50px;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.progress-fill {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent-color-500);
    transition: height 1.5s ease;
    height: 0%;
}

.progress-count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    z-index: 2;
}

.progress-count svg {
    color: var(--primary-color-50);
    stroke-width: 1.8;
    width: 20px;
    height: 20px;
}

.progress-count span {
    font-size: clamp(var(--font-size-xs), 0.683rem + 0.77vw, var(--font-size-sm));
    color: var(--primary-color-50);
    font-weight: var(--font-weight-medium);
}

/* "ВОЛНЫ" ДЛЯ ПРОГРЕСС БАРА */
.wave-element {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: var(--accent-color-500);
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% - 240px);
    border-radius: 40%;
    pointer-events: none;
}

.wave-front {
    z-index: 2;
    opacity: 1;
    animation: rotate-wave 5s linear infinite;
}

.wave-back {
    z-index: 1;
    opacity: 0.5;
    border-radius: 35%;
    animation: rotate-wave 8s linear infinite reverse;
    bottom: calc(100% - 235px);
    background-color: var(--accent-color-500);
}

@keyframes rotate-wave {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

/* СЕТКА ДЛЯ КАРТОЧЕК ТЕСТОВ */
.test-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(50% - 5px);
    gap: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 15px;
}

.test-grid::-webkit-scrollbar {
    display: none;
}

.test-grid-item {
    width: 100%;
    height: 100%;
    position: relative;
}


/* ИНЛИКТОР ПРОКРУТКИ СЕТКИ */
.test-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 50px;
    gap: 15px;
    background-color: var(--primary-color-50);
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e0e0e0;
    transition:
        background-color 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.dot.active {
    background-color: var(--accent-color-500);
}

/* ОБЕРТКА ВЫБОРА ФОРМЫ ТЕСТА */
.actual-test-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.test-form-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.test-form-selection-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    padding: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color-50);
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    border-radius: 15px;
}

.test-form-selection-item .hover-circle {
    position: absolute;
    left: var(--mouse-x);
    top: var(--mouse-y);
    width: 350px;
    height: 350px;
    background-color: var(--accent-color-300);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s ease-in-out, opacity .4s ease-in-out;
    opacity: 0;
    filter: blur(40px);
}

.test-form-selection-item:hover .hover-circle {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.test-form-selection-name {
    z-index: 1;
}

.test-form-selection-name h4 {
    font-size: clamp(var(--font-size-md), 0.683rem + 0.77vw, var(--font-size-lg));
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
}

.test-form-selection-decal {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 42px;
    height: 42px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    z-index: 1;
}

.test-form-selection-decal svg {
    stroke-width: 1.5;
    width: 24px;
    height: 24px;
    color: var(--text-primary-color);
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.test-form-selection-item:hover .test-form-selection-decal {
    background-color: var(--primary-color-50);
}

.test-form-selection-item:hover .test-form-selection-decal svg {
    color: var(--accent-color-500);
}

/* МЕДИА ЗАПРОСЫ */
@media (pointer: coarse) {
    .test-form-selection-item {
        pointer-events: auto;
        transform: none !important;
    }

    .hover-circle {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .test-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, calc(33% - 5px));
        grid-auto-rows: calc(33% - 5px);
    }

    .progress-container {
        width: 30px;
    }

    .progress-count {
        display: none !important;
    }

    .test-indicator {
        height: auto;
        background: transparent;
    }

    .test-form-selection-decal {
        width: 38px;
        height: 38px;
    }

    .test-form-selection-decal svg {
        width: 22px;
        height: 22px;
    }

    .actual-test-wrapper {
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .test-wrapper {
        padding-bottom: 110px;
    }

    .dot {
        background-color: #e0e0e0;
    }

    .test-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, calc(33% - 5px));
        grid-auto-rows: calc(33% - 5px);
    }

    .test-form-selection {
        flex-direction: column;
    }

    .test-form-selection-item {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .test-indicator {
        gap: 10px;
    }

    .dot {
        width: 6px;
        height: 6px;
    }

    .test-count {
        display: none;
    }

    .progress-container {
        width: 15px;
    }

    .test-form-selection-item {
        padding: 20px;
    }

    .test-form-selection-decal {
        width: 34px;
        height: 34px;
        background-color: transparent;
    }

    .test-form-selection-decal svg {
        width: 20px;
        height: 20px;
        color: var(--accent-color-500);
    }
}

@media (max-height: 800px) {
    .test-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, calc(33% - 5px));
        grid-auto-rows: calc(33% - 5px);
    }
}

@media (max-height: 768px) and (max-width: 480px) {
    .test-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, calc(33% - 5px));
        grid-auto-rows: calc(33% - 5px);
    }
}