.auth-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.registration-container,
.login-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    width: 600px;
    border-radius: 20px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
}
.registration-header,
.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.registration-icon,
.login-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient-yellow-to-coral);
    width: 64px;
    height: 64px;
    border-radius: 15px;
}
.login-icon {
    background: var(--color-gradient-yellow-to-skyblue);
}
.registration-header span,
.login-header span {
    text-align: center;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}
.registration-type-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.type-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s ease;
}
.type-item p {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}
.type-item span {
    font-size: var(--font-size-base);
    color: var(--color-text-secondary);
}
.type-item:hover {
    box-shadow: var(--shadow-card);
}




.registrarion-form-cols,
.login-form-cols {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.registration-form-row,
.login-form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.registration-form-row > div,
.login-form-row > div {
    flex: 1;
}
.registration-form-tip {
    border: 1px solid var(--color-accent-tertiary);
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--color-accent-tertiary-dark);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    user-select: none;
}