@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --bg-color: #ECF0F3;
    --text-color: #1a1a1a;
    --sidebar-bg: #f4f4f4;
    --accent-color: #0464E2;
    --accent-hover-color: rgba(4, 100, 226, 0.2);
    --border-color: #c53838;


    --menu-bg: rgba(255, 255, 255, .4);
    --menu-shadow:
        0 8px 32px rgba(0, 0, 0, .1),
        inset 0 1px 0 rgba(255, 255, 255, .5),
        inset 0 -1px 0 rgba(255, 255, 255, .1),
        inset 0 0 10px 5px rgba(255, 255, 255, .5);
    --menu-blur: blur(10px);
    --menu-border: 1px solid rgba(255, 255, 255, .3);
    --menu-bg-before: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .8),
            transparent) --menu-bg-after: linear-gradient(180deg,
            rgba(255, 255, 255, .8),
            transparent,
            rgba(255, 255, 255, .3));


    --font-size-xs: .75rem;
    --font-size-sm: .875rem;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.375rem;
    --font-size-xl: 1.75rem;
    --font-size-2xl: 2.25rem;
    --font-size-3xl: 2.75rem;
    --font-size-4xl: 3.5rem;


    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --font-weight-extrablack: 1000;
}

[data-theme="dark"] {
    --bg-color: #0a0a0a;
    --text-color: #ededed;
    --sidebar-bg: #1a1a1a;
    --accent-color: #3291ff;
    --border-color: #333333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color .3s ease, color .3s ease;
}