.profile-personal-container {
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    border: 1px solid var(--section-border-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 40px;
}
.profile-personal-title {
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 25px;
}
.profile-separator {
    width: 100%;
    height: 1px;
    background-color: var(--sidebar-items-color);
    opacity: .2;
    margin-top: 20px;
}
.profile-personal-inputs-cols {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.profile-personal-inputs-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.profile-personal-inputs-row > div {
    flex: 1;
}


.profile-personal-inputs-row fieldset {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.profile-personal-inputs-row fieldset legend {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-base);
    color: var(--md-gray-600);
    font-weight: 500;
}