.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 190px;
    overflow: hidden;
    box-sizing: border-box;
}

.profile-container {
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "left-top right-top"
        "second-row second-row"
        "third-row third-row"
        "fourth-row fourth-row"
        "fifth-row fifth-row";
    gap: 10px;
}

.profile-grid-item-1 {
    grid-area: left-top;
}

.profile-grid-item-2 {
    grid-area: right-top;
}

.profile-grid-item-3 {
    grid-area: second-row;
}

.profile-grid-item-4 {
    grid-area: third-row;
}

.profile-grid-item-5 {
    grid-area: fourth-row;
}

.profile-grid-item-6 {
    grid-area: fifth-row;
}

.profile-grid-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 30px;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}

.profile-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.profile-grid-item-header {
    margin-left: 10px;
}

.profile-grid-item-header h4 {
    font-size: clamp(var(--font-size-sm), 0.826rem + 0.2vw, var(--font-size-base));
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
}

.profile-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

select {
    padding: 8px 15px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

@media (max-width: 992px) {


    .profile-container::-webkit-scrollbar {
        display: none;
    }

    .profile-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "email"
            "sex"
            "name"
            "birth"
            "school"
            "options";
    }

    .profile-grid-item-2 {
        grid-area: email;
    }

    .profile-grid-item-1 {
        grid-area: sex;
    }

    .profile-grid-item-3 {
        grid-area: name;
    }

    .profile-grid-item-4 {
        grid-area: birth;
    }

    .profile-grid-item-5 {
        grid-area: school;
    }

    .profile-grid-item-6 {
        grid-area: options;
    }
}

@media (max-width: 768px) {
    .profile-wrapper {
        padding-bottom: 110px;
    }

    .profile-grid-item-3,
    .profile-grid-item-4,
    .profile-grid-item-5 {
        flex-direction: column;
        gap: 20px;
    }

    .profile-grid-item-6 {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .profile-grid-item {
        padding: 20px;
    }
}