.profile-wrapper {
    display: flex;
    height: 100%;
    position: relative;

    border-radius: 20px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-structure-100);
}

.profile-personal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 40px;
}

.profile-personal-title {
    text-transform: uppercase;
}

.profile-separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-structure-200);
    opacity: .2;
}

.profile-personal-inputs-cols {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-personal-inputs-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.profile-personal-inputs-row>div {
    flex: 1;
}

.radio-group {
    display: flex;
    flex-direction: row;
    gap: 40px;
}