/* стили для обертки домашней страницы */
.home-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* сетка для секций домашней страницы */
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100%);
    gap: 10px;
    padding: 5px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.home-grid::-webkit-scrollbar {
    display: none;
}


.home-grid-item-1-grid {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr;
    gap: 10px;
}

.home-grid-item-1-grid .item-2-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
    background-color: var(--grey-color-300);
    border-radius: 20px;
}

.home-grid-item-2-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40%;
    gap: 10px;
}

.home-grid-item-2-grid .item-1-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 5px;
    background-color: var(--grey-color-300);
    border-radius: 20px;
}

.home-grid-item-3-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.home-grid-item-3-grid .item-1-grid,
.home-grid-item-3-grid .item-2-grid,
.home-grid-item-3-grid .item-3-grid,
.home-grid-item-3-grid .item-4-grid,
.home-grid-item-3-grid .item-5-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 40% 1fr;
    gap: 10px;
    padding: 5px;
    background-color: var(--grey-color-300);
    border-radius: 20px;
}

.home-grid-item-4-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr;
    gap: 10px;
}

/* общий стиль для элмента*/
.home-block {
    background-color: var(--primary-color-50);
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid var(--grey-color-300);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    padding: 30px;
}











/* стили для индикатора прокрутки страницы */
.home-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 60px;
    min-height: 60px;
    gap: 20px;
    padding: 0 25px;
    background-color: var(--primary-color-50);
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--text-tertiary-color);
    transition: color .7s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.active {
    color: var(--accent-color-500);
}