.home-grid-item-3-grid .prof-item {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    justify-content: start;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.prof-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.prof-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-darkening-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    pointer-events: none;
}

.image-gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, var(--primary-color-50) 10%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}

.prof-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    height: 100%;
    padding-top: 230px;
    z-index: 2;
}

@media (max-width: 1390px) {
    .prof-item {
        position: relative;
        overflow: hidden;
        min-height: 380px;
        padding: 0 !important;
    }

    .prof-image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .prof-image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.3) 0%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.75) 100%);
        z-index: 2;
    }

    .prof-content {
        position: relative;
        z-index: 3;
        height: 100%;
        width: 100%;
        padding: 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .prof-content-header {
        color: var(--text-accent-color);
    }

    .prof-content .home-block-text {
        color: var(--text-accent-color);
    }
}